CompileFlags:
  Add:
    - -std=c++2c
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Winvalid-pch
    - -fcolor-diagnostics

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - portability-*
      - readability-*
      - modernize-*
      - cppcoreguidelines-*
    Remove:
      - readability-identifier-length
      - cppcoreguidelines-avoid-magic-numbers
      - cppcoreguidelines-owning-memory
      - modernize-use-trailing-return-type

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true

Hover:
  ShowAKA: true

Index:
  Background: Build

Completion:
  AllScopes: true
  ArgumentLists: FullPlaceholders

Style:
  FullyQualifiedNamespaces: []
  QuotedHeaders: "src/.*"
  AngledHeaders: "include/.*"
